* {
    padding: auto;
    margin: 10px;
}

header.cabecera {
    color: rgb(25, 224, 18);
    font-size: 15px;
}

header.producto {
    color: rgb(68, 196, 164);
    position: relative;
    left: 1px;
}

aside {
    margin-right: 50px;
    margin-left: 50;
    min-width: 50px;
    background-color: greenyellow;
    position: relative;
    top: 10px;
    left: 10px;
    max-width: 120px;
}

nav.menuprincipal {
    position: static;
    background: rgb(160, 175, 105);
    position: relative;
}

footer {
    padding: auto;
    margin: 0 auto;
    background: gray;
}