* {
    padding: auto;
    margin: 10px;
}

header.cabecera {
    color: rgb(64, 132, 221);
    font-size: 15px;
}

header.producto {
    color: rgb(68, 196, 164);
    font-size: 26px;
}

section {
    position: absolute;
    left: 190px;
    max-width: 800px;
}

aside {
    background: greenyellow;
    position: absolute;
    font-size: 20px;
    top: 125px;
    left: 18px;
    max-width: 150px;
}

nav.menuprincipal {
    position: static;
    background: rgb(160, 175, 105);
    position: relative;
}

footer {
    stroke-opacity: initial;
    position: relative;
    top: 750px;
    font-size: 20px;
    background: gray;
    width: unset;
}